RssFeedMailingApp/Service References/RssFeedReaderService/RssFeedReader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFeed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="urlText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeedResult" type="tns:ArrayOfRssFeedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRssFeedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RssFeedItem" nillable="true" type="tns:RssFeedItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RssFeedItem" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFeedSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeed" />
  </wsdl:message>
  <wsdl:message name="GetFeedSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeedResponse" />
  </wsdl:message>
  <wsdl:portType name="RssFeedReaderServiceSoap">
    <wsdl:operation name="GetFeed">
      <wsdl:input message="tns:GetFeedSoapIn" />
      <wsdl:output message="tns:GetFeedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RssFeedReaderServiceSoap" type="tns:RssFeedReaderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeed">
      <soap:operation soapAction="http://tempuri.org/GetFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RssFeedReaderServiceSoap12" type="tns:RssFeedReaderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeed">
      <soap12:operation soapAction="http://tempuri.org/GetFeed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RssFeedReaderService">
    <wsdl:port name="RssFeedReaderServiceSoap" binding="tns:RssFeedReaderServiceSoap">
      <soap:address location="http://localhost:5000/RssFeedReader.asmx" />
    </wsdl:port>
    <wsdl:port name="RssFeedReaderServiceSoap12" binding="tns:RssFeedReaderServiceSoap12">
      <soap12:address location="http://localhost:5000/RssFeedReader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>